blockquote {
  border-left: 4px solid rgb(207, 207, 207);
  padding-left: 1em;
  border-radius: 1px;
  margin: 2.3em 0;
}

hr {
  margin: 35px 0;
  border: 2px solid #b1b3b656;
  border-radius: 2px;
}
table {
  width: 100%;
  border: 1px solid hsla(0, 0%, 84%, 0.698);
  border-collapse: collapse;
}
td,
th {
  border: 1px solid hsla(0, 0%, 84%, 0.698);
  padding: 3px 10px;
}
ul,
ol {
  padding-left: 30px;
}

:not(pre) > code {
  padding: 2.5px 5px;
  color: #404680e0;
  background-color: #eeeeee;
}

code,
pre {
  border-radius: 5px;
}

pre {
  font-size: 0.85rem;
  border-radius: 2px;
  background-color: #f6f8fa;
  padding: 2px 4px;
}
pre.shiki {
  margin-bottom: 35px;
  padding: 15px 20px;
  border-radius: 5px;
  overflow: auto;
}

.post {
  li {
    padding-top: 5px;
  }
}

li {
  padding-bottom: 12px;
}
li::marker {
  color: var(--grey-dark);
}
