@import './var.scss';

.container {
  display: flex;
  margin-top: 65px;
}
@media (max-width: 768px) {
  .side-list {
    display: none;
  }
}

.side-list {
  background-color: var(--grey);
  width: 23%;
  font-weight: bold;
  overflow-y: auto;
  height: calc(100vh - 65px);
  top: 0;
  position: sticky;
  align-self: flex-start;

  a {
    min-width: 100%;
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
  }

  .category {
    font-family: 'Inter', sans-serif !important;
    width: 80%;
    margin: 35px auto;
    max-height: calc((100vh - 65px));
  }

  .category-name {
    color: var(--black);
    margin-bottom: 10px;
  }

  .category-post {
    padding: 5px;
    font-weight: bold;
    font-size: 1.15rem;
    border-left: 1px solid #e6e6e6;
    padding-left: 12px;
    color: var(--grey-dark);
    transition: all ease 0.5s 0s;

    p {
      margin: 0;
    }

    a:not(.active):hover {
      color: #707070;
    }
    .active {
      color: #8cabff;
    }
  }

  .category-post.active {
    border-left: 1px solid #b7caff;
  }

  .category-post:not(.active):hover {
    border-left: 1px solid #919191c5;
  }
  .footer {
    position: absolute;
    bottom: 25px;
    width: 100%;
    .footer-container {
      font-size: 0.85rem;
      color: var(--grey-dark);
      text-align: center;
    }
  }
}

.post-container {
  background-color: var(--bg);
  color: var(--text);
  width: 100%;
  position: relative;
  overflow: scroll;
  height: calc((100vh - 65px));
}

.table-active {
  color: var(--grey-darker) !important;
  // padding-left: 50px;
}

.post {
  width: 72%;
  font-size: 17px;
  margin-left: 55px;

  .post-p {
    display: flex;
  }
  .post-main {
    margin-top: 50px;
    width: 100%;
  }
  .table-of-contents {
    position: fixed;
    margin-top: 75px;
    margin-left: 45px;

    .table-item-child-container {
      padding-top: 1px;
    }
    .table-item-child {
      padding: 2px 10px;
      transition: all ease 0.15s 0s;
    }

    .table-item {
      transition: all ease 0.15s 0s;
      border-left: 1px solid var(--grey-light);
      padding: 1px 12px;

      a {
        font-size: 0.885rem;
        color: var(--grey-light-dark);
        p {
          margin: 0;
          padding-right: 20px;
        }
      }
      a:hover {
        color: var(--dark);
      }
    }
  }

  h1 {
    font-size: 2.25rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: ui-sans-serif, system-ui !important;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    .header-anchor {
      float: left;
      margin-left: -0.8em;
      padding-right: 0.2em;
      user-select: none;
      opacity: 0;
      font-weight: 500;
    }
  }

  h1:hover,
  h2:hover,
  h3:hover,
  h4:hover,
  h5:hover {
    .header-anchor {
      opacity: 100;
    }
  }
  h2,
  h3 {
    letter-spacing: -0.02em;
    margin: 48px 0 16px;
    font-weight: 600;
    border-top: 1px solid rgba(121, 121, 121, 0.349);
    padding-top: 24px;
    padding-bottom: 15px;
  }

  a {
    color: #646cff;
    font-weight: 400;
  }
}

.pre-next {
  margin-top: 105px;
  padding-bottom: 110px;
  a[pre] {
    float: left;
  }
  a[next] {
    float: right;
    text-align: right;
  }

  a {
    font-size: 0.85rem;
    width: 50%;
  }
  .prext {
    padding: 10px 15px;
    border-radius: 7px;
    border: 1px solid var(--grey-light);
    width: 85%;

    .prext-title {
      color: var(--grey-dark);
    }
    .prext-content {
      font-size: 1rem;
      padding-top: 5px;
    }
  }
  .prext:hover {
    border: 1px solid #646cff;
  }
}

// custom container
.block {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 0.95rem;
  margin: 30px 0px;
  font-weight: 300;
}
.warning {
  background-color: #fde18d2a;
  color: #eab308;
  border: 1px solid #ffe083;
}

.info {
  background-color: #8d8ffd28;
  color: #0862eaa2;
  border: 1px solid #8396ffa6;
}
