@import "./var.scss";

.container {
  display: flex;
  margin-top: 65px;
}

.side-list {
  background-color: var(--grey);
  width: 23%;
  font-weight: bold;
  overflow-y: auto;
  height: calc(100vh - 65px);
  top: 0;
  position: sticky;
  align-self: flex-start;

  a {
    min-width: 100%;
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
  }

  .category {
    font-family: "Inter", sans-serif !important;
    width: 80%;
    margin: 35px auto;
    max-height: calc((100vh - 65px));
  }

  .category-name {
    color: var(--black);
    margin-bottom: 10px;
  }

  .category-post {
    padding: 5px;
    font-weight: bold;
    font-size: 1.15rem;
    border-left: 1px solid #e6e6e6;
    padding-left: 12px;
    color: var(--grey-dark);
    transition: all ease 0.5s 0s;

    a:not(.active):hover {
      color: #707070;
    }
    .active {
      color: #8cabff;
    }
  }

  .category-post.active {
    border-left: 1px solid #b7caff;
  }

  .category-post:not(.active):hover {
    border-left: 1px solid #919191c5;
  }
}

.post-container {
  background-color: var(--bg);
  color: var(--text);
  width: 100%;
  position: relative;
  overflow-y: scroll;
  height: calc((100vh - 65px));
}

.post {
  width: 72%;
  font-size: 17px;

  margin: 55px auto;
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: ui-sans-serif, system-ui !important;
  }
  h2 {
    letter-spacing: -0.02em;
    margin: 48px 0 16px;
    font-weight: 600;
    border-top: 1px solid rgba(121, 121, 121, 0.349);
    padding-top: 24px;
    padding-bottom: 15px;
  }

  a {
    color: #646cff;
    font-weight: 400;
  }

  :not(pre) > code {
    padding: 2.5px 5px;
    color: #404680e0;
    background-color: #eeeeee;
  }

  code,
  pre {
    border-radius: 5px;
  }

  pre {
    font-size: 0.85rem;
    border-radius: 2px;
    background-color: #f6f8fa;
    padding: 2px 4px;
  }
  pre.shiki {
    padding: 15px 20px;
    border-radius: 5px;
    overflow: auto;
  }
}

.pre-next {
  margin-top: 105px;
  padding-bottom: 110px;
  a[pre] {
    float: left;
  }
  a[next] {
    float: right;
    text-align: right;
  }

  a {
    font-size: 0.85rem;
    width: 50%;
  }
  .prext {
    padding: 10px 15px;
    border-radius: 7px;
    border: 1px solid var(--grey-light);
    width: 85%;

    .prext-title {
      color: var(--grey-dark);
    }
    .prext-content {
      font-size: 1rem;
      padding-top: 5px;
    }
  }
  .prext:hover {
    border: 1px solid #646cff;
  }
}
