code {
  font-family: Consolas, "Noto Sans KR", "Source Code Pro", Menlo, Monaco,
    "Courier New", "Nanum Gothic Coding", monospace;
  font-size: 0.845rem;
  line-height: 1.15rem;
  letter-spacing: normal;
}
