.editor {
  display: flex;
  max-width: 1080px;
  width: 80%;
  min-width: 560px;
  min-height: 320px;

  margin: 50px auto;

  .editor-code {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px 20px;
    width: 50%;
  }
  .editor-result {
    width: 50%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1.2px solid rgb(207, 207, 207);
    padding: 20px;
  }
}

code {
  font-family: Consolas, 'Noto Sans KR', 'Source Code Pro', Menlo, Monaco, 'Courier New',
    'Nanum Gothic Coding', monospace;
  font-size: 0.845rem;
  line-height: 1.15rem;
  letter-spacing: normal;
}
