code,
.console {
  font-family: Consolas, 'Noto Sans KR', 'Source Code Pro', Menlo, Monaco, 'Courier New',
    'Nanum Gothic Coding', monospace;
  font-size: 0.845rem;
  line-height: 1.15rem;
  letter-spacing: normal;
}

// example
@media (max-width: 768px) {
  .ex-container {
    display: block !important;
    text-align: center;
  }
}
#example {
  width: 85%;
  max-width: 900px;
  margin: 90px auto;

  .ex-container {
    display: flex;
    margin: 135px 0;

    .ex-des {
      width: 45%;
      margin: 0 2.5%;
      padding: 25px;
    }
    .ex-box {
      width: 45%;
      padding: 25px;
      height: 120px;

      border: 1px solid var(--grey-light);
      border-radius: 25px;

      .example-item {
        margin-top: 13px;
        display: flex;
        justify-content: center;
        align-items: center;

        .ex-result {
          margin-left: auto;
          color: red;
        }
      }

      .ex-browser {
        .browser-url {
          width: 100%;
          background-color: #f7f7f7dc;
          color: #3f3f3f;
          border-radius: 5px;
          .browser-url-in {
            padding: 4px 10px;
            font-size: 0.85rem;
          }
        }
        .browser-view {
          margin-top: 15px;
        }
      }
    }
  }
}

.footer-main {
  text-align: center;
  margin-top: 90px;
  height: 120px;
  padding-top: 40px;
  background-color: var(--grey);
}
