@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

html,
body,
button {
  font-family: "Inter", sans-serif;

  letter-spacing: -0.5px;
}

html,
body {
  margin: 0;
  width: calc(100vw - (100vw - 100%));
  height: calc(100vh - 65px);
  font-size: 16px;
}

a:not(.no-a) {
  color: inherit;
  text-decoration: none;
  font-weight: lighter;
  transition: all ease 0.25s 0s;
}

a:not(.no-a):hover {
  color: #4078ff;
  transition: all ease 0.25s 0s;
}

button {
  margin: 0;
  padding: 10px 20px;

  font-weight: bold;
  font-size: 1em;

  background-color: #fff;
  color: #000;

  border: 0;
  border-radius: 999px;

  cursor: pointer;
}

// smooth
.smt {
  transition: all ease 0.5s 0s;
}
// box shadow
.shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
// flex
.flex-container {
  display: flex;
  width: 75%;
  max-width: 1060px;

  height: 200px;
  padding: 50px;
  margin: 0 auto;
}

// main
#main {
  margin-top: 65px;
  max-width: 100vw;
}
#title {
  margin: 0;
  height: 350px;
  color: #fff;
  background: linear-gradient(to right, #597c99b6, #84baf7);

  .message-container {
    margin-left: auto;
  }

  .message-box-error {
    font-size: 0.75rem;

    width: 210px;
    height: 47px;

    border-radius: 5px;

    margin-top: 25px;
    padding: 5px 15px;

    color: rgba(255, 255, 255, 0.644);
    background-color: #f07177d2;
    backdrop-filter: blur(10px);
  }
  .message-box-success {
    font-size: 0.75rem;

    width: 210px;
    height: 47px;

    border-radius: 5px;

    margin-top: 20px;
    margin-left: 25px;
    padding: 5px 15px;

    color: rgba(255, 255, 255, 0.644);
    background-color: #4dac62;
    backdrop-filter: blur(10px);
  }

  #title-content {
    #title-detail {
      font-weight: 1.15rem;
    }

    #title-dir {
      margin-top: 50px;

      button {
        margin-right: 15px;
      }
    }
  }
}

// header
#header {
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 65px;
  border-bottom: 1px solid #52525248;
  background-color: rgba(255, 255, 255, 0.671);

  #header-container {
    width: 85%;

    margin: 0 auto;

    display: flex;
  }

  #header-title {
    padding-top: 20px;

    font-size: 1.15rem;
    font-weight: 500;
  }

  #header-contents {
    margin-left: auto;
    padding-top: 7px;

    li {
      list-style: none;
      float: left;
      margin-left: 36px;

      a {
        font-weight: 500;
      }
    }
  }
}
