:root {
  --blue-light: #4078ff;
  --blue-dark: #646cff;
  --blue-darker: #646cff3f;

  --dark-blue: #333541;
  --white-blue: #e5e7f3;

  --white: #fff;
  --black: #000;

  --grey-light: #b6b6b685;
  --grey: #e7e7e759;
  --grey-dark: #4b4b4ba2;

  --bg: var(--white);
  --text: var(--dark-blue);
}
